munkres~=1.1.4
scikit-learn~=1.2.2
joblib~=1.1.1
scipy~=1.10.1
pandas~=1.5.3
seaborn~=0.12.2
matplotlib
tqdm~=4.65.0
torch~=2.0.1
torchvision~=0.15.2
torchaudio===0.7.0
h5py~=3.8.0
jsons~=1.6.3
openpyxl
more-itertools

numpy~=1.24.3
sklearn~=0.0.post4
pyyaml~=6.0
opencv-python~=4.7.0.72
setuptools~=66.0.0
annoy~=1.17.3
einops~=0.8.0